<div class="container">

<h3 class="text-center m-3">請輸入你的支出</h3>
<form action="/records" method="post">
<p class="text-left">＊必填欄位</p>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">名稱＊</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="費用名稱">
    </div>
  </div>
  <div class="form-group row">
    <label for="date" class="col-sm-2 col-form-label">日期＊</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="date" name="date" placeholder="消費日期">
    </div>
  </div>
  <div class="form-group row">
    <label for="categoryId" class="col-sm-2 col-form-label">類別＊</label>
    <div class="col-sm-10">
      <select class="custom-select mr-sm-2" id="categoryId" name="categoryId">
        <option selected>費用類別</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="amount" class="col-sm-2 col-form-label">金額＊</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="amount" name="amount" placeholder="$支出金額">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 text-center">
      <button type="submit" class="btn btn-primary ">新增支出</button>
    </div>
  </div>
</form>
</div>